[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_dotnet
name: .NET
description: NET Framework is a software framework that includes a large class library and provides language interoperability across several programming languages.
advice: 
version: 4.8.3761.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: remove-older-versions
description: Remove older versions of .NET 4.x
default: True

[ProductProperty]
type: bool
name: forcereinstall
description: Forces installation even if already installed
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: german-language-pack
multivalue: True
editable: False
description: Installs the German language pack.
values: ["auto", "false", "true"]
default: ["auto"]

[Changelog]
dfn_dotnet (4.8.3761.0-1) stable; urgency=low

Bugfix: $INST_SystemType$ mit Inhalt gefüllt
Change: update zu .net 4.8.0 (ersetzt wie vorherige Versionen der 4.x Reihe alle anderen 4.x Versionen)
Change: Nutzung der "local functions" uib_exitcodes (im Winst-lib vorhanden, dennoch kopiert)
Change: Nutzung der "local functions" func_search_registry_uninstall_keys
Change: Support Windows 10 uninstall

 -- Mattias Baake <mattias.baake@ub.uni-osnabrueck.de>  Wed, 22 May 2019 12:51:55 +0000

dfn_dotnet (4.7.2053.0-4) stable; urgency=low

Bugfix: $INST_SystemType$ zugefügt.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 06 Sep 2017 12:06:37 +0000

dfn_dotnet (4.7.2053.0-2) stable; urgency=low

Deklarationen waren doppelt, habe sie wieder in common.opsiinc belassen damit Variablen nur an einer Stelle befüllt werden und nur an einer Stelle geändert werden müssen.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 24 Aug 2017 15:14:13 +0000

dfn_dotnet (4.7.2053.0-1) stable; urgency=low

Please add a short description.

 -- Schmidt, Jan <Jan.Schmidt@dipf.de>  Thu, 24 Aug 2017 12:09:50 +0000

dotnet (4.5.2-1) stable; urgency=low

  * Initial version

 -- Eric Esser <esser@wzb.eu> Fri, 08 May 2015 12:04:18 + 0100
